<a href="https://colab.research.google.com/github/bxbee/MACHINE_LEARNING/blob/main/DataVisualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = [1,2,3,4]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4

In [ ]:
Data =[1,['a',3],4,[5,'b'],7]
Df=pd.DataFrame(Data)
print(Df)

        0
0       1
1  [a, 3]
2       4
3  [5, b]
4       7

In [3]:
import pandas as pd
df1=pd.DataFrame()
df1

Empty DataFrame
Columns: []
Index: []

In [4]:
##statistical function using numpy next class learn it

In [7]:

Data = [1,['a'],4,[5,'b'],7]
Df=pd.DataFrame(Data)
print(Df)

        0
0       1
1     [a]
2       4
3  [5, b]
4       7

In [15]:
import pandas as pd
Data_dic = [['Amy',67],['Sam',43],['Peter',75]]
Df2= pd.DataFrame(Data_dic,columns = ['Name','Aggregate'])
print(Df2)

    Name  Aggregate
0    Amy         67
1    Sam         43
2  Peter         75

In [17]:
import pandas as pd

Data = {
    'Name': ['Tom', 'Jack', 'Sammy', 'John'],'Age': [12, 23, 34, 56]}
Data = {
    'Name': ['Amy', 'John', 'Samee', 'Jammie'],'Age': [15, 26, 74, 26]}

df = pd.DataFrame(Data)
print(df)

     Name  Age
0     Amy   15
1    John   26
2   Samee   74
3  Jammie   26

In [21]:
Data12 = [{'Name': 'Navya','Marks':90},{'Name':'Kiran','Marks':88},{'Name':'Sagar','Marks':'Topper'},{'Name':'Amme','Marks':23}]
df = pd.DataFrame(Data12,index=['First','Second','Third','Fourth'])
print(df)

         Name   Marks
First   Navya      90
Second  Kiran      88
Third   Sagar  Topper
Fourth   Amme      23

In [26]:
Data45 = [{'Name': 'Atibul','Marks':99.99999},{'Name':'Rehan','Marks':88},{'Name':'Sagar','Marks':'Topper'},{'Name':'Raj','Marks':27.7}]
df3 = pd.DataFrame(Data45,index=['First','Second','Third','Fourth'])
print(df3)

          Name     Marks
First   Atibul  99.99999
Second   Rehan        88
Third    Sagar    Topper
Fourth     Raj      27.7

In [30]:
# Program: Constructing a DataFrame using Series with custom indices
import pandas as pd
Data = {
    'Kiara':pd.Series([74,34,23],index=['D1','D2','D3']),
    'Meera' : pd.Series([47,43,32,41],index=['D1','D2','D3','D4'])
}
df01 = pd.DataFrame(Data)
print(df01)

    Kiara  Meera
D1   74.0     47
D2   34.0     43
D3   23.0     32
D4    NaN     41

In [45]:
import pandas as pd

Data = {
    'Kiara': pd.Series([34, 56, 34], index=['D1','D2','D3']),
    'Meera': pd.Series([41, 23, 52, 71], index=['D1','D2','D3','D4'])
}

df01 = pd.DataFrame(Data)

Name = str(input("Enter the Name of the Student Whose Marks You want to see : "))

# Print marks without dtype line
print(df01[Name].to_string())

Enter the Name of the Student Whose Marks You want to see : Kiara
D1    34.0
D2    56.0
D3    34.0
D4     NaN

In [48]:
df01['Rex'] = pd.Series([91, 43, 14], index=['D1','D2','D3'])
print(df01)

    Kiara  Meera   Rex
D1   91.0     41  91.0
D2   43.0     23  43.0
D3   14.0     52  14.0
D4    NaN     71   NaN

In [49]:
del df01['Rex']
print(df01)

    Kiara  Meera
D1   91.0     41
D2   43.0     23
D3   14.0     52
D4    NaN     71

In [50]:
df01.pop('Meera')

D1    41
D2    23
D3    52
D4    71
Name: Meera, dtype: int64

In [51]:
print(df01)

    Kiara
D1   91.0
D2   43.0
D3   14.0
D4    NaN

In [53]:
Data04 = {
    'Name': ['Srey','Mehar', 'Anu','Memu','Andy','Samme'],
    'Age': [41, 23, 52, 71,12,43],
    'Interest': ['Sketch', 'Outdoor','Cooking','Surfing','Reading','Sketching']
}
df12 = pd.DataFrame(Data04)
print(df12)

    Name  Age   Interest
0   Srey   41     Sketch
1  Mehar   23    Outdoor
2    Anu   52    Cooking
3   Memu   71    Surfing
4   Andy   12    Reading
5  Samme   43  Sketching

In [55]:
print("MEAN AGE: %2f"%df12.Age.mean())

MEAN AGE: 40.333333

In [56]:
df12.head()

    Name  Age Interest
0   Srey   41   Sketch
1  Mehar   23  Outdoor
2    Anu   52  Cooking
3   Memu   71  Surfing
4   Andy   12  Reading

git: '.add' is not a git command. See 'git --help'.

The most similar command is
	add